@using Entities.Models;
@{
    ViewData["Title"] = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listItem = (List<Entities.DTOs.TrackingOrderReceivedDetailModel>)Model.TrackingOrderReceivedDetailModels;
    var totalAll = (decimal)0;
    Accounts account = (Accounts)TempData["Account"];
}
@model Entities.DTOs.TrackingOrderReceivedModel

@if (Model == null)
{
    <div class="container">
        <div style="padding: 100px,0px;margin-top:20px">
            <div class=" alert alert-danger">@TempData["error"]</div>
        </div>
    </div>
}
else
{
    <!-- Start Breadcrumbs Section -->
    <section class="bread-crumb">
        <span class="crumb-border"></span>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 a-left">
                    <ul class="breadcrumb">
                        <li class="home">
                            <a href="/"><span>Trang chủ</span></a><span>
                                <i class="fa fa-angle-double-right"
                                   aria-hidden="true"></i>
                            </span>
                        </li>
                        <li class="home">
                            <a href="@Url.Action("SearchOrderReceived", "Cart")"><span>Tra cứu đơn hàng</span></a><span>
                                <i class="fa fa-angle-double-right"
                                   aria-hidden="true"></i>
                            </span>
                        </li>
                        <li>
                            <strong><span>Mã đơn hàng: @Model.OrderCode</span></strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- End Header Section -->
    <div class="container">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success" role="alert" style="margin-top:20px">
                <p class="info">@TempData["success"].ToString()</p>
            </div>
        }
        else if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert" style="margin-top:20px">
                <p class="info">@TempData["error"].ToString()</p>
            </div>
        }
        <div style="padding: 100px,0px">
            <style>
                .alert {
                    font-weight: bold;
                }

                .alert-warning {
                    color: #856404;
                    background-color: #fff3cd;
                    border-color: #eb3e32;
                }
            </style>
            @{
                var type = "";
                var message = "";
                if (Model.OrderStatusId == 1)
                {
                    type = "warning";
                    message = "Chờ xác nhận";
                }
                else if (Model.OrderStatusId == 2)
                {
                    type = "warning";
                    message = "Đơn hàng đã được xác nhận - Đang chờ giao!";
                }
                else if (Model.OrderStatusId == 3)
                {
                    type = "warning";
                    message = "Đơn hàng đang được giao - Chờ xác nhận đã giao!";
                }
                else if (Model.OrderStatusId == 4)
                {
                    type = "success";
                    message = "Giao hàng thành công!";
                }
                else if (Model.OrderStatusId == -2)
                {
                    type = "danger";
                    message = "Giao hàng thất bại!";
                }
                else if (Model.OrderStatusId == -1)
                {
                    type = "danger";
                    message = "Đơn hàng đã bị huỷ!";
                }
            }
            <span></span>
            @{
                if (TempData["onSession"]?.ToString() == "true")
                {
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <a class="btn btn-primary" id="listorderreceived" href="@Url.Action("ListOrderReceived", "Cart")">Quay lại danh sách đơn hàng</a>
                        </div>
                    </div>
                }
            }
            <div class="alert alert-@type" role="alert" style="margin-top:20px">
                <p class="info">Trạng thái: @message</p>
            </div>

            <div class="row">
                <div class="col-lg-12 ">
                    <div class="checkout-process">
                        <div id="accordion" class="checkout-parts accordion">
                            <div class="card">
                                <div class="card-header form-wizard-step">
                                    <h5>
                                        <a class="btn btn-link collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><span>01</span>Thông tin giao hàng</a>
                                    </h5>
                                </div>
                                <div id="collapseOne " class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="check-tab">
                                            <div class="checkout-form">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label>Mã đơn hàng  </label>
                                                        <input class="form-control required" required type="text" placeholder="Mã đơn hàng" value="@Model.OrderCode" disabled>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <hr />
                                                        <label>Ngày mua  </label>
                                                        <input class="form-control required" required type="text" placeholder="Mã đơn hàng" value="@Model.CreatedDate" disabled>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <hr />
                                                        <label>Họ và tên  </label>
                                                        <input class="form-control required" required type="text" placeholder="Nhập vào họ và tên của bạn" value="@Model.CustomerFullName" disabled>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="billing-info mb-20px">
                                                            <hr />
                                                            <label>Email</label>
                                                            <input class="form-control required" type="email" placeholder="Nhập vào email của bạn" value="@Model.CustomerEmail" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="billing-info mb-20px">
                                                            <hr />
                                                            <label>Số điện thoại  </label>
                                                            <input class="form-control required" required type="number" placeholder="Nhập vào số điện thoại của bạn" value="@Model.CustomerPhone" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="billing-info mb-20px">
                                                            <hr />
                                                            <label>Địa chỉ  </label>
                                                            <input class="form-control required" required type="text" placeholder="Nhập vào địa chỉ chi tiết của bạn (số nhà, tên đường, huyện, tỉnh)" value="@Model.CustomerAddress" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>
                                        <a class="btn btn-link" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><span>02</span>Danh sách sản phẩm</a>
                                    </h5>
                                </div>
                                <div class="collapse show" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="check-tab">
                                            <div class="order-table">
                                                <div class="order-review-table table-responsive">
                                                    <table class="table table-bordered text-center">
                                                        <thead>
                                                            <tr class="row-1">
                                                                <th class="row-image">Hình ảnh</th>
                                                                <th class="row-title text-left">Tên sản phẩm</th>
                                                                <th class="row-title">Đơn giá</th>
                                                                <th class="row-title">Số lượng</th>
                                                                <th class="row-title">Thành tiền</th>
                                                                <th class="row-title">Đánh giá</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in listItem)
                                                            {
                                                                var price = (decimal?)0;
                                                                var total = (decimal)0;


                                                                price = item.ProductPrice;
                                                                total = (decimal)(price * item.Quantity);


                                                                <tr class="row-2">
                                                                    <td><img src="@item.ProductImage" style="max-width: 150px;" /></td>
                                                                    <td>@item.ProductName</td>
                                                                    <td>@price.GetValueOrDefault(0).ToString("N0") đ</td>
                                                                    <td>@item.Quantity</td>
                                                                    <td>@total.ToString("N0") đ</td>
                                                                    <td>
                                                                        @if (account != null)
                                                                        {
                                                                            <form method="post" action="/danh-gia">
                                                                                <input type="hidden" name="orderCode" value="@Model.OrderCode" />
                                                                                <input type="hidden" name="email" value="@Model.CustomerEmail" />
                                                                                <input type="hidden" name="phone" value="@Model.CustomerPhone" />
                                                                                <input type="hidden" name="orderDetailId" value="@item.OrderDetailId" />

                                                                                <div class="form-group">
                                                                                    <label for="Rating">
                                                                                        Số sao ⭐: (1-5):
                                                                                        @if (item.FeedBack != null)
                                                                                        {
                                                                                            @(item.FeedBack.Rating == 0 ? "" : "Hiện tại: " + item.FeedBack.Rating + " ⭐")
                                                                                        }
                                                                                    </label>
                                                                                    <select id="Rating" name="rating" class="form-control" required>
                                                                                        <option value="5">5 ⭐</option>
                                                                                        <option value="4">4 ⭐</option>
                                                                                        <option value="3">3 ⭐</option>
                                                                                        <option value="2">2 ⭐</option>
                                                                                        <option value="1">1 ⭐</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="Comment">Nhận xét:</label>
                                                                                    <textarea id="Comment" name="comment" class="form-control" rows="4">
                                                                                        @if (item.FeedBack != null)
                                                                                        {
                                                                                            @(item.FeedBack != null? item.FeedBack.Comment:"")
                                                                                        }</textarea>
                                                                                </div>

                                                                                <button type="submit" class="btn btn-primary">@(item.FeedBack == null || item.FeedBack.Rating == 0 ? "Đánh giá" : "Cập nhật đánh giá")</button>
                                                                                @(item.FeedBack != null ? Html.Raw("<a class='danger' href='/xoa-danh-gia?orderDetailId="+item.OrderDetailId+"&orderCode="+ Model.OrderCode + "&email="+ Model.CustomerEmail+ "&phone="+ Model.CustomerPhone+ "'>Xóa đánh giá</a>") : "")
                                                                            </form>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p>Vui lòng đăng nhập để đánh giá</p>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                                totalAll += total;
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr class="row-6">
                                                                <td class="text-left" colspan="3">Tổng:</td>
                                                                <td class="product-subtotal">@totalAll.ToString("N0") đ</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
