@model IEnumerable<Entities.Models.SubscribeEmail>
@{
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-success float-left" onclick="exportExcel()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z" />
                    </svg>
                    &nbsp;
                    Xuất Excel
                </button>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">

                            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Ngày đăng ký</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Thao tác</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                    {
                                        if (Model.Count() > 0)
                                        {
                                            var id = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr role="row">
                                                    <td>@id</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                    <td><button class="btn btn-outline-danger" onclick="deleteEmail(@item.ID)">Xoá</button></td>
                                                </tr>
                                                id++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                            <script>
                                function exportExcel() {
                                    $.ajax({
                                        url: '@Url.Action("EmailSubscribeExportExcel", "FromCustomer")',
                                        dataType: 'json',
                                        type: 'GET',
                                        success: function (res) { window.location.href = res.filePath},
                                    });
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1 .col-md-6:eq(0)');
    });
    function deleteEmail(id) {
        $.ajax({
            data: {id : parseInt(id)},
            url: '@Url.Action("DeleteSubscribeEmal", "FromCustomer")',
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                location.reload();
            },
        });
    }
</script>

