
@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var newses = (Entities.Common.PaginationModel<List<Entities.DTOs.NewsViewModel>>)ViewBag.ListMainNews;
    
    var countPage = (newses.Pagination.Total % newses.Pagination.Size > 0) ? (newses.Pagination.Total / newses.Pagination.Size +1) : (newses.Pagination.Total / newses.Pagination.Size);
    var currentCategoryId = newses.Data.FirstOrDefault() != null ? newses.Data.FirstOrDefault().currentCategoryId : 1;
    var currentPage = newses.Pagination.Offset + 1;
    bool isNext = (currentPage < countPage);
    bool isPrev = (currentPage > 1);
    string currentOrder = ViewBag.CurrentOrder?.ToString();
    var currentCategory = ViewBag.CurrentCategory.ToString();
}
@{
    var listRandomCategoryNews = (List<Entities.DTOs.CategoryNewsViewModel>)ViewBag.ListRandomCategoryNews;
    var listHotNewses = (List<Entities.DTOs.NewsViewModel>)ViewBag.ListHotNewses;
    var listRecentNews = (List<Entities.DTOs.NewsViewModel>)ViewBag.ListRecentNews;
    var listNewsCate = (List<Entities.DTOs.CategoryNewsViewModel>)TempData["newsmenu"];
}
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="/"><span>Trang chủ</span></a><span>
                            <i class="fa fa-angle-double-right"
                               aria-hidden="true"></i>
                        </span>
                    </li>
                    <li>
                        <strong><span>Tin tức</span></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container" itemscope="" itemtype="http://schema.org/Blog">
	<meta itemprop="name" content="Tin tức">
	<meta itemprop="description" content="Điện Máy Tiến Đạt chuyên cung cấp sỉ và lẻ máy làm thực phẩm chính hãng, máy làm kem lớn nhất tại Việt Nam">
	<div class="row">
		<section class="right-content margin-bottom-50 col-md-9 col-md-push-3">
			<div class="box-heading relative">
				<h1 class="title-head page_title">Tin tức</h1>
			</div>

			<section class="list-blogs blog-main">
				<div class="row">

					<div class="col-sm-12 blog_xxx">
						<article class="blog-item">
							<div class="row">
								<div class="col-lg-5">
									<div class="blog-item-thumbnail">
										<a href="/hieu-biet-ve-cach-lua-chon-may-lam-kem-tuoi">


											<img src="https://bizweb.dktcdn.net/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100" data-src="https://bizweb.dktcdn.net/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100" style="max-width:100%;" class="lazyload img-responsive loaded" title="Hiểu biết về cách lựa chọn Máy làm kem tươi" alt="Hiểu biết về cách lựa chọn Máy làm kem tươi" data-was-processed="true">


										</a>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="blog-item-info">

										<h3 class="blog-item-name">
											<a href="/hieu-biet-ve-cach-lua-chon-may-lam-kem-tuoi">Hiểu biết về cách lựa chọn Máy làm kem tươi</a>
										</h3>
										<div class="date">
											<i class="fa fa-clock-o"></i> Thursday,
											<div class="news_home_content_short_time">
												03/11/2022
											</div>
											<span class="cmt_count_blog">
												<i class="fa fa-comments" aria-hidden="true"></i>(0) Bình luận
											</span>
										</div>
										<p class="blog-item-summary">
											Máy làm kem tươi&nbsp;phù hợp cho việc mở quán kinh doanh. Điện máy Tiến Đạt&nbsp;tự hào là người tiên phong trong lĩnh vực nhập khẩu và phân phối&nbsp;các dòng&nbsp;máy làm kem&nbsp;tươi&nbsp;kinh doanh tốt nhất hiện nay.
											Máy làm kem tươi là gì?
											Máy làm kem&nbsp;là thiết bị dùng để trộn dung dịch...
										</p>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-sm-12 blog_xxx">
						<article class="blog-item">
							<div class="row">
								<div class="col-lg-5">
									<div class="blog-item-thumbnail">
										<a href="/review-cac-dong-may-loc-khong-khi-daikin-chi-tiet">


											<img src="https://bizweb.dktcdn.net/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810" data-src="https://bizweb.dktcdn.net/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810" style="max-width:100%;" class="lazyload img-responsive loaded" title="Review các dòng máy lọc không khí Daikin chi tiết" alt="Review các dòng máy lọc không khí Daikin chi tiết" data-was-processed="true">


										</a>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="blog-item-info">

										<h3 class="blog-item-name">
											<a href="/review-cac-dong-may-loc-khong-khi-daikin-chi-tiet">Review các dòng máy lọc không khí Daikin chi tiết</a>
										</h3>
										<div class="date">
											<i class="fa fa-clock-o"></i> Tuesday,
											<div class="news_home_content_short_time">
												02/03/2021
											</div>
											<span class="cmt_count_blog">
												<i class="fa fa-comments" aria-hidden="true"></i>(0) Bình luận
											</span>
										</div>
										<p class="blog-item-summary">
											Review các dòng máy lọc không khí Daikin chi tiết

											Daikin như chúng ta đều biết là một trong những thương hiệu hàng đầu thế giới về dòng sản phẩm Điều hòa (máy lạnh) với nhiều ưu điểm về chất lượng. Cùng với dòng sản phẩm điều hòa thì máy lọc...
										</p>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-sm-12 blog_xxx">
						<article class="blog-item">
							<div class="row">
								<div class="col-lg-5">
									<div class="blog-item-thumbnail">
										<a href="/huong-dan-su-dung-may-loc-khong-khi-va-tao-am-sharp-kc-f30ev">


											<img src="https://bizweb.dktcdn.net/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403" data-src="https://bizweb.dktcdn.net/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403" style="max-width:100%;" class="lazyload img-responsive loaded" title="Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV" alt="Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV" data-was-processed="true">


										</a>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="blog-item-info">

										<h3 class="blog-item-name">
											<a href="/huong-dan-su-dung-may-loc-khong-khi-va-tao-am-sharp-kc-f30ev">Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV</a>
										</h3>
										<div class="date">
											<i class="fa fa-clock-o"></i> Friday,
											<div class="news_home_content_short_time">
												26/02/2021
											</div>
											<span class="cmt_count_blog">
												<i class="fa fa-comments" aria-hidden="true"></i>(0) Bình luận
											</span>
										</div>
										<p class="blog-item-summary">
											Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV:&nbsp;

											Máy lọc không khí và tạo ẩm Sharp KC-F30EV&nbsp;là sản phẩm máy lọc không khí thương hiệu Sharp chính hãng cho thị trường Việt Nam với diện tích hoạt động thích hợp với các phòng có diện tích...
										</p>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-sm-12 blog_xxx">
						<article class="blog-item">
							<div class="row">
								<div class="col-lg-5">
									<div class="blog-item-thumbnail">
										<a href="/den-bao-tren-may-loc-khong-khi-sharp">


											<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="https://bizweb.dktcdn.net/100/415/549/articles/may-loc-khong-khi-sharp-fp-j40e-w-sieu-thi-nhat-ban-japana-0-2-3-1.jpeg?v=1614659607827" style="max-width:100%;" class="lazyload img-responsive" title="Đèn báo trên máy lọc không khí Sharp" alt="Đèn báo trên máy lọc không khí Sharp">


										</a>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="blog-item-info">

										<h3 class="blog-item-name">
											<a href="/den-bao-tren-may-loc-khong-khi-sharp">Đèn báo trên máy lọc không khí Sharp</a>
										</h3>
										<div class="date">
											<i class="fa fa-clock-o"></i> Friday,
											<div class="news_home_content_short_time">
												26/02/2021
											</div>
											<span class="cmt_count_blog">
												<i class="fa fa-comments" aria-hidden="true"></i>(0) Bình luận
											</span>
										</div>
										<p class="blog-item-summary">
											Đèn báo trên máy lọc không khí Sharp

											– Từ cách nhận biết qua đèn báo hiệu, bạn có thể dễ dàng lựa chọn được chế độ lọc không khí theo ý muốn.
											Lỗi liên quan đến&nbsp;Đèn báo trên máy lọc không khí Sharp&nbsp;

											Lỗi này xuất hiện không mong muốn khi đang...
										</p>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-sm-12 blog_xxx">
						<article class="blog-item">
							<div class="row">
								<div class="col-lg-5">
									<div class="blog-item-thumbnail">
										<a href="/top-4-noi-chien-khong-dau-kangaroo-gia-tot-duoc-yeu-thich-nhat">


											<img src="https://bizweb.dktcdn.net/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860" data-src="https://bizweb.dktcdn.net/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860" style="max-width:100%;" class="lazyload img-responsive loaded" title="Top 4 nồi chiên không dầu Kangaroo giá tốt, được yêu thích nhất" alt="Top 4 nồi chiên không dầu Kangaroo giá tốt, được yêu thích nhất" data-was-processed="true">


										</a>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="blog-item-info">

										<h3 class="blog-item-name">
											<a href="/top-4-noi-chien-khong-dau-kangaroo-gia-tot-duoc-yeu-thich-nhat">Top 4 nồi chiên không dầu Kangaroo giá tốt, được yêu thích nhất</a>
										</h3>
										<div class="date">
											<i class="fa fa-clock-o"></i> Wednesday,
											<div class="news_home_content_short_time">
												06/01/2021
											</div>
											<span class="cmt_count_blog">
												<i class="fa fa-comments" aria-hidden="true"></i>(0) Bình luận
											</span>
										</div>
										<p class="blog-item-summary">Bạn đang tìm mua sản phẩm nồi chiên không dầu Kangaroo giá tốt bán chạy nhất năm 2020, được các gia đình ưa chuộng và sử dụng nhiều nhất hiện nay? Vậy thì hãy tham khảo danh sách Top 4 nồi chiên không dầu của Kangaroo sau đây. Bên cạnh...</p>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-sm-12 blog_xxx">
						<article class="blog-item">
							<div class="row">
								<div class="col-lg-5">
									<div class="blog-item-thumbnail">
										<a href="/top-5-mon-an-doc-la-thom-ngon-nuc-mui-voi-noi-chien-khong-dau-kangaroo">


											<img src="https://bizweb.dktcdn.net/100/415/549/articles/taixuong11b4c372959d864f428e28.jpg?v=1609920087893" data-src="https://bizweb.dktcdn.net/100/415/549/articles/taixuong11b4c372959d864f428e28.jpg?v=1609920087893" style="max-width:100%;" class="lazyload img-responsive loaded" title="Top 5 món ăn độc lạ, thơm ngon nức mũi với nồi chiên không dầu Kangaroo" alt="Top 5 món ăn độc lạ, thơm ngon nức mũi với nồi chiên không dầu Kangaroo" data-was-processed="true">


										</a>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="blog-item-info">

										<h3 class="blog-item-name">
											<a href="/top-5-mon-an-doc-la-thom-ngon-nuc-mui-voi-noi-chien-khong-dau-kangaroo">Top 5 món ăn độc lạ, thơm ngon nức mũi với nồi chiên không dầu Kangaroo</a>
										</h3>
										<div class="date">
											<i class="fa fa-clock-o"></i> Wednesday,
											<div class="news_home_content_short_time">
												06/01/2021
											</div>
											<span class="cmt_count_blog">
												<i class="fa fa-comments" aria-hidden="true"></i>(1) Bình luận
											</span>
										</div>
										<p class="blog-item-summary">Nồi chiên không dầu Kangaroo là một trong những sản phẩm ngày càng chiếm được nhiều tình cảm của chị em nội trợ. Không chỉ nhanh chóng, tiện lợi, nó còn giúp thực phẩm trở nên thơm ngon, bổ dưỡng, tốt cho sức khỏe. Dưới đây là top 5 món...</p>
									</div>
								</div>
							</div>
						</article>
					</div>

				</div>
			</section>
			<div class="row">
				<div class="col-xs-12 text-left">
				</div>
			</div>

		</section>

		<aside class="blog_hai left left-content col-md-3 col-md-pull-9">
			<aside class="aside-item sidebar-category collection-category">
				<div class="aside-title">
					<h2 class="title-head margin-top-0"><span>Danh mục</span></h2>
				</div>
				<div class="aside-content">
					<nav class="nav-category navbar-toggleable-md">
						<ul class="nav navbar-pills">


							<li class="nav-item lv1">
								<a href="/may-loc-khong-khi" class="nav-link">
									Máy lọc không khí
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-khong-khi-coway">
											Máy lọc không khí coway
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-khong-khi-sharp">
											Máy lọc không khí sharp
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-khong-khi-hitachi">
											Máy lọc không khí Hitachi
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-khong-khi-daikin">
											Máy lọc không khí Daikin
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-khong-khi-panasonic">
											Máy lọc không khí Panasonic
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-khong-khi-lg">
											Máy lọc không khí LG
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-khong-khi-philips">
											Máy lọc không khí Philips
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-hut-am">
											Máy hút ẩm
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/may-thuc-pham" class="nav-link">
									Máy Thực Phẩm
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/may-thai-thit">
											Máy thái thịt
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-xay-gio-cha">
											Máy xay giò chả
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-xay-bot">
											Máy xay bột
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-tron-bot-da-nang">
											Máy trộn bột đa năng
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-lam-bap-rang-bo">
											Máy làm bắp rang bơ
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-cua-xuong">
											Máy cưa xương
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-xay-thit">
											Máy xay thịt
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-say-nong-san">
											Máy sấy nông sản
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-xay-dau-nanh">
											Máy xay đậu nành
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/bep-chien-nhung">
											Bếp chiên nhúng
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-xay-sinh-to-da-nang">
											Máy xay đa năng
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/bep-nuong-gas">
											Bếp nướng
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/my-cay">
											Bếp mỳ cay
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/do-gia-dung-1" class="nav-link">
									Đồ gia dụng
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/noi-chien-khong-dau">
											Nồi chiên không dầu
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/ban-la">
											Bàn là
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/lo-vi-song">
											Lò vi sóng
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-loc-nuoc-1">
											Máy lọc nước
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-hut-bui">
											Máy hút bụi
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/robot-hut-bui">
											Robot hút bụi
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/no-i-a-p-sua-t-die-n">
											Nồi áp suất điện
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-suoi-dau">
											Máy sưởi dầu
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-ep-cham">
											Máy ép chậm
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-xay-sinh-to-da-nang">
											Máy xay
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/noi-nau-cham">
											Nồi nấu chậm
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-dun-nuoc-nong">
											Máy đun nước nóng
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/may-giai-khat" class="nav-link">
									Máy giải khát
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/may-lam-mat-trai-cay">
											Máy làm mát trái cây
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-lam-kem-tuoi">
											Máy làm kem tươi
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-bao-da">
											Máy bào đá
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-lam-kem-cung">
											Máy làm kem cứng
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-ep-cam">
											Máy ép cam
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-lam-kem-cuon">
											Máy làm kem cuộn
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/bot-lam-kem">
											Bột làm kem
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-ep-nuoc-mia">
											Máy ép nước mía
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-lam-da-vien">
											Máy làm đá viên
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-ep-nhanh">
											Máy ép nhanh
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/may-dong-goi" class="nav-link">
									Máy đóng gói
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/may-hut-chan-khong-1">
											Máy hút chân không
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-dan-mieng-ly">
											Máy dán miệng ly
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-in-date">
											Máy in date
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-han-mieng-tui">
											Máy hàn miệng túi
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/phu-kien" class="nav-link">
									Phụ kiện
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-tron">
											Phụ kiện máy trộn
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-thai-thit">
											Phụ kiện máy thái thịt
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-bap">
											Phụ kiện máy bắp
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-xe-dap">
											Phụ kiện xe đạp
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-bep-chien-may-say">
											Phụ kiện bếp chiên, Máy sấy
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-hut-chan-khong">
											Phụ kiện máy hút chân không
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-xay-bot">
											Phụ kiện máy xay bột
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-lam-mat-trai-cay">
											Phụ kiện máy làm mát trái cây
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-lam-kem">
											Phụ kiện máy làm kem
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-xay-sinh-to">
											Phụ kiện máy xay sinh tố
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/phu-kien-may-xay-thit">
											Phụ kiện máy xay thịt
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/may-massage-1" class="nav-link">
									Máy massage
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/ghe-massage">
											Ghế massage
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/giuong-massage">
											Giường Massage
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-rung-toan-than-1">
											MÁY RUNG TOÀN THÂN
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/may-tap-the-duc-1" class="nav-link">
									Máy tập thể dục
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/may-tang-chieu-cao">
											Máy tăng chiều cao
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/xe-dap-tap-the-duc">
											Xe đạp tập thể dục
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/may-chay-bo">
											Máy chạy bộ
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/ghe-tap-ta-da-nang">
											Ghế tập tạ đa năng
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a href="/xe-dap-the-thao" class="nav-link">
									Xe đạp thể thao
								</a>
								<i class="fa fa-angle-down"></i>
								<ul class="dropdown-menu">


									<li class="nav-item lv2">
										<a class="nav-link" href="/xe-dap-dia-hinh">
											XE ĐẠP ĐỊA HÌNH
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/xe-dap-dua">
											XE ĐẠP ĐUA
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/xe-dap-banh-beo">
											XE ĐẠP BÁNH BÉO
										</a>
									</li>



									<li class="nav-item lv2">
										<a class="nav-link" href="/xe-dap-gap">
											XE ĐẠP GẤP
										</a>
									</li>



								</ul>
							</li>



							<li class="nav-item lv1">
								<a class="nav-link" href="/my-cay">
									bếp Mỳ cay
								</a>
							</li>



							<li class="nav-item lv1">
								<a class="nav-link" href="/may-ep-nhanh">
									Máy ép nhanh
								</a>
							</li>



							<li class="nav-item lv1">
								<a class="nav-link" href="/noi-nau-tran-chau">
									Nồi nấu trân châu
								</a>
							</li>


						</ul>
					</nav>
				</div>
			</aside>


			<div class="blog-aside aside-item blog-aside-article">
				<div>
					<div class="aside-title-article">
						<h2 class="title-head"><span><a href="/tin-tuc">Tin tức liên quan</a></span></h2>
					</div>
					<div class="aside-content-article">
						<div class="blog-list blog-image-list">

							<div class="loop-blog">
								<div class="thumb-left">
									<a href="/hieu-biet-ve-cach-lua-chon-may-lam-kem-tuoi">

										<picture>
											<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100">
											<source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100">
											<source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100">
											<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100">
											<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100">
											<img src="https://bizweb.dktcdn.net/100/415/549/articles/slide1-1483087259.jpg?v=1667440176100" style="max-width:100%;" class="img-responsive" title="Hiểu biết về cách lựa chọn Máy làm kem tươi" alt="Hiểu biết về cách lựa chọn Máy làm kem tươi">
										</picture>

									</a>
								</div>
								<div class="name-right">
									<h3><a href="/hieu-biet-ve-cach-lua-chon-may-lam-kem-tuoi" title="Hiểu biết về cách lựa chọn Máy làm kem tươi">Hiểu biết về cách lựa chọn Máy làm kem tươi</a></h3>
									<div class="date">
										<i class="fa fa-clock-o"></i>Thursday, <div class="news_home_content_short_time">
											03/11/2022
										</div>
									</div>
								</div>
							</div>

							<div class="loop-blog">
								<div class="thumb-left">
									<a href="/review-cac-dong-may-loc-khong-khi-daikin-chi-tiet">

										<picture>
											<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810">
											<source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810">
											<source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810">
											<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810">
											<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810">
											<img src="https://bizweb.dktcdn.net/100/415/549/articles/mo-may-may-loc-khong-khi-va-tao-am-daikin-mck55tvm6-1.jpg?v=1614658781810" style="max-width:100%;" class="img-responsive" title="Review các dòng máy lọc không khí Daikin chi tiết" alt="Review các dòng máy lọc không khí Daikin chi tiết">
										</picture>

									</a>
								</div>
								<div class="name-right">
									<h3><a href="/review-cac-dong-may-loc-khong-khi-daikin-chi-tiet" title="Review các dòng máy lọc không khí Daikin chi tiết">Review các dòng máy lọc không khí Daikin chi tiết</a></h3>
									<div class="date">
										<i class="fa fa-clock-o"></i>Tuesday, <div class="news_home_content_short_time">
											02/03/2021
										</div>
									</div>
								</div>
							</div>

							<div class="loop-blog">
								<div class="thumb-left">
									<a href="/huong-dan-su-dung-may-loc-khong-khi-va-tao-am-sharp-kc-f30ev">

										<picture>
											<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403">
											<source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403">
											<source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403">
											<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403">
											<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403">
											<img src="https://bizweb.dktcdn.net/100/415/549/articles/may-loc-khong-khi-va-tao-am-sharp-kc-f30ev-w-21m2.jpg?v=1614659446403" style="max-width:100%;" class="img-responsive" title="Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV" alt="Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV">
										</picture>

									</a>
								</div>
								<div class="name-right">
									<h3><a href="/huong-dan-su-dung-may-loc-khong-khi-va-tao-am-sharp-kc-f30ev" title="Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV">Hướng dẫn sử dụng máy lọc không khí và tạo ẩm Sharp KC-F30EV</a></h3>
									<div class="date">
										<i class="fa fa-clock-o"></i>Friday, <div class="news_home_content_short_time">
											26/02/2021
										</div>
									</div>
								</div>
							</div>

							<div class="loop-blog">
								<div class="thumb-left">
									<a href="/den-bao-tren-may-loc-khong-khi-sharp">

										<picture>
											<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-sharp-fp-j40e-w-sieu-thi-nhat-ban-japana-0-2-3-1.jpeg?v=1614659607827">
											<source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-sharp-fp-j40e-w-sieu-thi-nhat-ban-japana-0-2-3-1.jpeg?v=1614659607827">
											<source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-sharp-fp-j40e-w-sieu-thi-nhat-ban-japana-0-2-3-1.jpeg?v=1614659607827">
											<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-sharp-fp-j40e-w-sieu-thi-nhat-ban-japana-0-2-3-1.jpeg?v=1614659607827">
											<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/may-loc-khong-khi-sharp-fp-j40e-w-sieu-thi-nhat-ban-japana-0-2-3-1.jpeg?v=1614659607827">
											<img src="https://bizweb.dktcdn.net/100/415/549/articles/may-loc-khong-khi-sharp-fp-j40e-w-sieu-thi-nhat-ban-japana-0-2-3-1.jpeg?v=1614659607827" style="max-width:100%;" class="img-responsive" title="Đèn báo trên máy lọc không khí Sharp" alt="Đèn báo trên máy lọc không khí Sharp">
										</picture>

									</a>
								</div>
								<div class="name-right">
									<h3><a href="/den-bao-tren-may-loc-khong-khi-sharp" title="Đèn báo trên máy lọc không khí Sharp">Đèn báo trên máy lọc không khí Sharp</a></h3>
									<div class="date">
										<i class="fa fa-clock-o"></i>Friday, <div class="news_home_content_short_time">
											26/02/2021
										</div>
									</div>
								</div>
							</div>

							<div class="loop-blog">
								<div class="thumb-left">
									<a href="/top-4-noi-chien-khong-dau-kangaroo-gia-tot-duoc-yeu-thich-nhat">

										<picture>
											<source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860">
											<source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860">
											<source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860">
											<source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860">
											<source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/small/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860">
											<img src="https://bizweb.dktcdn.net/100/415/549/articles/4eab449bcc0594a93b4ec2b7758b4d.jpg?v=1609920375860" style="max-width:100%;" class="img-responsive" title="Top 4 nồi chiên không dầu Kangaroo giá tốt, được yêu thích nhất" alt="Top 4 nồi chiên không dầu Kangaroo giá tốt, được yêu thích nhất">
										</picture>

									</a>
								</div>
								<div class="name-right">
									<h3><a href="/top-4-noi-chien-khong-dau-kangaroo-gia-tot-duoc-yeu-thich-nhat" title="Top 4 nồi chiên không dầu Kangaroo giá tốt, được yêu thích nhất">Top 4 nồi chiên không dầu Kangaroo giá tốt, được yêu thích nhất</a></h3>
									<div class="date">
										<i class="fa fa-clock-o"></i>Wednesday, <div class="news_home_content_short_time">
											06/01/2021
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</aside>


	</div>
</div>
<!-- Start Blog Section -->
<section class="blog-inner-section pt_large pb_large news-style-2">
    <div class="container">
        <div class="row">
            @if (newses.Data?.Count > 0)
            {
                <div class="col-xl-9 col-lg-8 col-md-12">
                    <div class="row blog_info">
                        @foreach (var item in newses.Data)
                        {<div class="col-12">
                                <div class="news-box box-1">
                                    <div class="news-img">
                                        <img src="@item.ThumbImage" alt="blog_img1">
                                        <div class="news-date-box text-center text-uppercase">
                                            <h6>@item.PostedDate.Value.Day <br>@item.PostedDate.Value.ToString("MMM")</h6>
                                        </div>
                                    </div>
                                    <div class="news-info">
                                        <h5><a href="@Url.Action("NewsDetail","Home",new {id = item.Id })">@item.Title</a></h5>
                                        <p class="comments">Đăng bởi: <a href="@Url.Action("NewsDetail","Home",new {id = item.Id })"><i>@item.CreatedBy</i></a></p>
                                        <p class="news-text">@item.SubTitle</p>
                                        <a href="@Url.Action("NewsDetail","Home",new {id = item.Id })" class="read-more">Đọc thêm</a>
                                    </div>
                                </div>
                            </div>}

                       
                    </div>
                    <!--Paging area start-->
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    @if (countPage > 0)
                                    {
                                        @for (int i = 1; i <= countPage; i++)
                                        {
                                            <li @(i == currentPage ? "class=active" : "")><a href="@Url.Action("News","Home",new { id = currentCategoryId, page = i})">@i</a></li>
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--Paging area end-->
                </div>
            }
            <div class="col-xl-3 col-lg-4 col-md-12 order-lg-first mt-4 mt-lg-0">
                <div class="blog-sidebar">
                    <div class="side-quantity-box side-box">
                        @if (listNewsCate?.Count > 0)
                        {
                            <div class="side-box-title">
                                <h6>Danh mục tin tức</h6>
                            </div>
                            <div class="quantity-box-detail">
                                <ul>
                                    @foreach (var item in listNewsCate)
                                    {
                                        <li><a href="@Url.Action("News", "Home", new { id = item.Id, page = 1 })">@item.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        }

                    </div>
                    <div class="side-newslatter-box side-box">
                        <div class="newslatter-inner-box">
                            <div class="side-box-title">
                                <h6>Đăng ký nhận tin</h6>
                            </div>
                            <form class="side-newslatter-form">
                                <input required="" class="form-control" placeholder="Email của bạn ... " value="" type="email" id="newsLetter">
                                <button type="button" class="newslatter-bnt" onclick="subs(newsLetter)"><i class="fa fa-envelope"></i></button>
                            </form>
                        </div>
                    </div>
                    @if (listRecentNews?.Count > 0)
                    {
                        <div class="side-quantity-box side-box">
                            <div class="side-box-title">
                                <h6>Tin xem gần đây</h6>
                            </div>
                            <div class="side-recent-product">
                                @foreach (var item in listRecentNews)
                                {
                                    <div class="cart-prodect d-flex">
                                        <div class="cart-img">
                                            <img src="@item.ThumbImage" alt="recent-product">
                                        </div>
                                        <div class="cart-product">
                                            <a href="@Url.Action("NewsDetail","Home",new { id = item.Id})">@item.Title</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Section -->
