@{
    var listProducts = (Entities.Common.PaginationModel<List<Entities.DTOs.ProductViewModel>>)ViewBag.ListProductByCategory;
    var countPage = (listProducts.Pagination.Total % listProducts.Pagination.Size > 1) ? listProducts.Pagination.Total /
    listProducts.Pagination.Size + 1 :
        listProducts.Pagination.Total / listProducts.Pagination.Size;
    var currentCategoryId = listProducts.Data.FirstOrDefault() != null ?
    listProducts.Data.FirstOrDefault().currentCategoryId : 1;
    var currentPage = listProducts.Pagination.Offset + 1;
    bool isNext = (currentPage < countPage);
    bool isPrev = (currentPage > 1);
    string currentCategoryName = ViewBag.CurrentCategoryName?.ToString();
    string currentOrder = ViewBag.CurrentOrder?.ToString();
}
@{
    string currentOrderDisplay = "";
    if (currentOrder == "date")
    {
        currentOrderDisplay = "Mới nhất";
    }
    else if (currentOrder == "date_desc")
    {
        currentOrderDisplay = "Cũ nhất";
    }
    else if (currentOrder == "price")
    {
        currentOrderDisplay = "Giá: Tăng dần";
    }
    else if (currentOrder == "price_desc")
    {
        currentOrderDisplay = "Giá: Giảm dần";
    }
    else if (currentOrder == "abc")
    {
        currentOrderDisplay = "A->Z";
    }
    else if (currentOrder == "abc_desc")
    {
        currentOrderDisplay = "Z->A";
    }
    else if (currentOrder == "best_sell")
    {
        currentOrderDisplay = "Bán chạy nhất";
    }
}
@{
    ViewData["Title"] = currentCategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var listRandomProductCategory = (List<Entities.DTOs.ProductCategoryViewModel>)ViewBag.RandomProductCategory;
    var relateCategories = (List<Entities.Models.ProductCategory>)ViewBag.RelateCategories;
}
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="/"><span>Trang chủ</span></a><span>
                            <i class="fa fa-angle-double-right"
                               aria-hidden="true"></i>
                        </span>
                    </li>
                    <li>
                        <strong><span>@currentCategoryName</span></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <section class="col-md-9 col-md-push-3 main_container collection margin-bottom-30">
            <div class="text-sm-left">
                <h1 class="title-head margin-top-0">@currentCategoryName</h1>
            </div>
            <div class="category-products products">
                <section class="products-view products-view-grid collection_reponsive">
                    <div class="row row-noGutter-2 content_col">
                        @if (listProducts.Data?.Count <= 0)
                        {
                            <p>Hiện chưa có sản phẩm</p>
                        }
                        else
                        {
                            @foreach (var item in listProducts.Data)
                            {
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                    <div class="product-col">
                                        <div class="product-box-h">
                                            <div class="row">

                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="product-thumbnail">
                                                        <a class="image_link display_flex"
                                                           href="@Url.Action("ProductDetails","Home", new { id = item.Id})"
                                                           title="@item.Name">
                                                            <img class="lazyload" src="@item.MainImageThumb" alt="@item.Name" />
                                                        </a>
                                                        <a title="Xem nhanh" href="#"
                                                           onclick="showQuickView(@item.Id)"
                                                           class="xem_nhanh button_wh_40 btn_view right-to quick-view hidden-xs hidden-sm hidden-md">
                                                            Xem nhanh
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="product-info a-left">
                                                        <h3 class="product-name">
                                                            <a class="height_name"
                                                               href="@Url.Action("ProductDetails","Home", new { id = item.Id})"
                                                               title="@item.Name">@item.Name</a>
                                                        </h3>
                                                        <div class="product-hides">
                                                            <div class="bizweb-product-reviews-badge" data-id="29474760"></div>
                                                            <div class="product-hide">
                                                                <div class="price-box clearfix">
                                                                    @if (item.PromotionPrice.HasValue)
                                                                    {
                                                                        <div class="special-price">
                                                                            <span class="price product-price">@item.PromotionPrice?.ToString("N0")</span>
                                                                        </div>
                                                                        <div class="old-price">
                                                                            <span class="price product-price-old">
                                                                                @item.Price?.ToString("N0")₫
                                                                            </span>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="special-price">
                                                                            <span class="price product-price">@item.Price?.ToString("N0")₫</span>
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-action clearfix hidden-xs">
                                                            <form action="/cart/add" method="post"
                                                                  class="variants form-nut-grid"
                                                                  data-id="product-actions-29474760"
                                                                  enctype="multipart/form-data">
                                                                <div>

                                                                    <input type="hidden" name="variantId" value="81033893">
                                                                    <button class="btn-buy btn-cart btn btn-circle left-to add_to_cart "
                                                                            type="button"
                                                                            onclick="addtocart(@item.Id, 1)"
                                                                            title="Thêm vào giỏ hàng">
                                                                        Đặt mua ngay
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="text-center">
                        <nav class="clearfix">
                            <ul class="pagination clearfix">
                                @if (isNext || isPrev)
                                {
                                    @if (currentPage != 1)
                                    {
                                        <li class="page-item hidden-xs">
                                            <a class="page-link page-db" href="/product?id=@(currentCategoryId)">Trang đầu</a>
                                        </li>
                                    }
                                    @if (currentPage - 2 >= 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/product?id=@(currentCategoryId)&page=@(currentPage - 2)">@(currentPage - 2)</a>
                                        </li>
                                    }
                                    @if (currentPage - 1 >= 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/product?id=@(currentCategoryId)&page=@(currentPage - 1)">@(currentPage - 1)</a>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <button class="page-link">@(currentPage)</button>
                                    </li>
                                    @if (currentPage + 1 <= countPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/product?id=@(currentCategoryId)&page=@(currentPage +1)">@(currentPage + 1)</a>
                                        </li>
                                    }
                                    @if (currentPage + 2 <= countPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/product?id=@(currentCategoryId)&page=@(currentPage - 2)">@(currentPage + 2)</a>
                                        </li>
                                    }
                                    @if (currentPage != countPage)
                                    {
                                        <li class="page-item hidden-xs">
                                            <a class="page-link page-db" href="/product?id=@(currentCategoryId)&page=@(countPage)">Trang cuối</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
        </section>
        @if (relateCategories != null)
        {
            <div class="col-md-3 col-md-pull-9">
                <div class="coll-cate">
                    <div class="title">Danh mục</div>
                    <ul>
                        @foreach (var item in relateCategories)
                        {
                            <li><a href="/product?id=@(item.Id)">@item.CategoryName</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>